$mobile-breakpoint: 1300px;

.projects-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


@media (max-width: $mobile-breakpoint){
    .projects-container{
        flex-direction: column;
    }
}