
$mobile-breakpoint: 1300px;

#cvimg{
    transform: rotate(-90deg);
    height: 77%;
    border-radius: 2%;
}

.cv-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(336deg, rgba(9,1,143,1) 0%, rgba(0,0,0,1) 45%, rgba(143,41,41,1) 100%);
}
#device-info{
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin-bottom: 5%;
    display: none;
}

@media (max-width: $mobile-breakpoint){
    #cvimg{
        display: none;
    }
    .cv-container{
        flex-direction: column;
    }
    #device-info{
        display: flex;
    }
}