

.contact-page{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/devbg.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    color: white;
    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.contact-button{
    margin-top: 5%;
    min-width: 60%;
}

.contact-button > h2 {
    display: flex;
    font-size: 1rem;
    background-color: rgb(209, 12, 71);
    height: 4ch;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}